
<div class="container container-responsive ps-5 pe-5 mt-5" >
  <div class="row">
    <div class="col">
      <input class="form-control" type="number" id="idPropietarioBuscar" name="idPropietarioBuscar" placeholder="id del propietario">
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" id="botonBuscar" (click)="buscar()">Buscar</button>
    </div>
    <div class="col">

    </div>
  </div>

</div>
<h2 class="ps-5 pe-5 mt-5 text-center" *ngIf="(listaSolicitudes | async)?.length==0">No hay registros</h2>
<div *ngIf="(listaSolicitudes | async)?.length>0" class="container container-responsive ps-5 pe-5 mt-5">
  <table aria-label="Relacion de todas las solicitudes en el sistema"  id="tableRegistrosGuarderia" class="table table-responsive text-center">
    <thead class="table-dark">
        <tr >
          <th id="colId">#</th>
          <th id="colNombre">Nombre propietario</th>
          <th id="colDocumento">Documento</th>
          <th id="colAnimal">Tipo animal</th>
          <th id="colFecha">Fecha ingreso</th>
          <th id="colEstadia">Dias de estadía</th>
          <th id="colBotones">Acción</th>
        </tr>
    </thead>
    <tbody id="cuerpoTabla">
        <tr *ngFor="let item of listaSolicitudes | async; let i = index">
          <th id="reg{{i}}_id">{{item.id}}</th>
          <th id="reg{{i}}_nombre">{{item.nombrePropietario}}</th>
          <th id="reg{{i}}_idPropietario">{{item.idPropietario}}</th>
          <th id="reg{{i}}_idAnimal">{{item.tipoAnimal}}</th>
          <th id="reg{{i}}_idFecha">{{item.fechaIngreso}}</th>
          <th id="reg{{i}}_idEstadia">{{item.diasEstadia}}</th>
          <th id="reg{{i}}_id">
            <button type="button" id="botonActualizarItem{{this.item.id}}" class="btn btn-warning m-1" (click)="actualizar(this.item)">Editar</button>
            <button type="button" id="botonBorrarItem{{this.item.id}}" class="btn btn-danger" (click)="borrar(this.item.id)">Borrar</button>
          </th>
        </tr>
    </tbody>
  </table>
</div>


<div *ngIf="esVisible" class="modal" tabindex="-1" >
  <div class="modal-dialog p-3">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="mostrarContenidoModal">Actualización de agenda</h5>
        <h5 class="modal-title" *ngIf="!mostrarContenidoModal">Facturación</h5>
        <button type="button" class="btn-close" (click)="visibilidadModal()" ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="mostrarContenidoModal" id="formActualizar">
          <form [formGroup]="solicitudForm" id="solicitudForm" #myForm="ngForm" (ngSubmit)="guardarActualizacion()">
            <div class="form-floating mb-3">
              <input validar type="text" id="id" name="id" class="form-control"
                formControlName="id" placeholder="id" [(ngModel)]="this.registro.id">
              <label for="id">id</label>
            </div>
            <div class="form-floating mb-3">
              <input validar type="text" id="nombrePropietario" name="nombrePropietario" class="form-control"
                formControlName="nombrePropietario" placeholder="Nombre Propietario" [(ngModel)]="this.registro.nombrePropietario">
              <label for="nombrePropietario">Nombre Propietario</label>
            </div>
            <div class="form-floating mb-3">
              <input validar type="number" id="idPropietario" name="idPropietario" placeholder="Id Propietario"
                  class="form-control" formControlName="idPropietario" [(ngModel)]="this.registro.idPropietario">
              <label for="idPropietario">Id Propietario</label>
            </div>
            <div class="form-floating mb-3">
              <select validar name="tipoAnimal" id="tipoAnimal" class="form-control"
                formControlName="tipoAnimal" placeholder="Tipo de animal" [(ngModel)]="this.registro.tipoAnimal">
                <option value="PERRO">PERRO</option>
                <option value="GATO">GATO</option>
              </select>
              <label for="tipoAnimal">Tipo de animal</label>
            </div>
            <div class="form-floating mb-3">
              <input validar type="date" id="fechaIngreso" name="fechaIngreso" placeholder="Fecha ingreso"
                  class="form-control" formControlName="fechaIngreso" [(ngModel)]="this.registro.fechaIngreso">
              <label>Fecha de ingreso</label>
            </div>
            <div class="form-floating mb-3">
              <input validar type="number" id="diasEstadia" name="diasEstadia" placeholder="Fecha ingreso"
                  class="form-control" formControlName="diasEstadia" [(ngModel)]="this.registro.diasEstadia">
              <label>Días de estadía</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="visibilidadModal()">Cerrar</button>
              <button type="submit" class="btn btn-primary" id="botonSubmit">Guardar</button>
            </div>
          </form>
        </div>

        <div class="container" *ngIf="!mostrarContenidoModal" id="facturacion">
          <div *ngIf="!existeError">
            <p>Descuento: {{(factura.valor.descuento)?'SI':'NO'}}</p>
            <p>Estadía: {{factura.valor.diasEstadia}} días</p>
            <p>Valor día regular: ${{factura.valor.valorDiaRegular}}</p>
            <p>Valor día FDS: ${{factura.valor.valorDiaFDS}}</p>
            <p>Total: ${{factura.valor.valorFacturado}}</p>
          </div>
          <div *ngIf="existeError">
            <p>{{mensajeError}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


