<nav>
  <ul class="nav justify-content-center nav-pills nav-fill flex-column flex-sm-row">
    <!-- <li class="nav-item">
      <a class="nav-link" id="linkProducto" routerLink="./crear" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Agendar guardería</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" id="linkCrearProducto" routerLink="./crear" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Agendar guardería</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="linkListarProducto" routerLink="./listar" routerLinkActive="active">Listar registros de guardería</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
